<!-- include head -->
<%- include('./include/_head') %>
  <!-- /include head -->

<!-- include header -->
<%- include('./include/_header') %>
    <!-- /include header -->

    <main>
        <h3>인증 코드를 입력해주세요</h3>
        <div class="form-floating">
            <textarea class="form-control" placeholder="인증 코드를 입력해주세요" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">인증 코드</label>
          </div>
    </main>

    <!-- include footer -->
    <%- include('./include/_footer') %>
<!-- /include footer -->