<!-- include head -->
<%- include('./include/_head') %>
  <!-- /include head -->

  <link href="stylesheets/index.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js" integrity="sha512-DNI/FJdkfyeuPUal7lDkRVg0mFY2n4IZJJYqPbQWLL0COxLi6G6nmf5gr1vW1Bd4wYC09hOvZVsSclfXxUTU/w==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="/javascripts/index.js" defer></script>
  <!-- include header -->
  <%- include('./include/_header') %>
    <!-- /include header -->

    <main class="_body_background">
      <div class="IntroBodyView">
        <div class="introLogin">
          <h2 class="introTitle">운영이 쉬워진다!</h2>
          <span>접속 안내 사항<br> 교수님께 <br>제출한 최종 보고서에 밴드 id와 비밀번호를 기재하였는데, 핸드폰으로 2차 인증이 필요한 것을 뒤늦게 알았습니다.<br>
            인증 번호를 전해드릴 수단이 없어 수정 접속 안내사항을 본 웹페이지에 재업로드 합니다. <br> 아래 단계를 따라주시면 됩니다.<br>
            1. 링크를 통해 test 밴드 가입 https://band.us/n/a2a5Afeal7R01 <br>
            2. https://10.10.15.133:9181/login/register 로 아무 닉네임 등록 후 6자리 인증번호 복사 <br>
            3. 현 화면으로 돌아와 등록했던 닉네임과 복사한 인증번호로 로그인 <br>
            4. 모든 밴드 정보 제공 동의 <br>
            5. 오류 페이지가 나올시 현 화면으로 돌아와 재로그인 <br>
            6. test 밴드 클릭 *오류시 현 화면으로 돌아와 재로그인 <br>
            7. '공지' 글 클릭 <br>
            8. 나오는 링크로 접속시 '찌름' 가능 *찌름이 무엇인지는 최종보고서 참고
            9. 접수 마감 시간이 지나면 결과 확인 버튼 누르기 가능(5분 동안만 볼 수 있음)<br></span>
          <p class="introSummary">밴드 커뮤 전용 운영 지원 사이트입니다. <br> 모바일은 일부 기능이 제한적입니다.</p>
          <span>최초 접속에 한해 인증 코드 입력이 필요합니다! <br> 인증을 한 적이 있으시다면 이름만 입력해주세요!</span>
          <form id="authForm" class="authcode" action="/login/auth" method="POST">
            <div class="form-floating">
              <textarea class="form-control" name="nickname" placeholder="이름을 입력해주세요" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">이름</label>
            </div>
            <div class="form-floating">
              <textarea class="form-control" name="authcode" placeholder="인증 코드를 입력해주세요" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">인증 코드</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg loginButton">인증 후 Band로 로그인</button>
          </form>
        </div>
        <div class="introGuide">
          
        </div>
        <div class="introDeveloper">

        </div>
      </div>
    </main>

    <!-- include footer -->
    <%- include('./include/_footer') %>
      <!-- /include footer -->