<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="index page"> <!-- 페이지 설명 -->
    <title>밴드 커뮤 운영 지원</title>
</head>
<body>
   <!-- Header -->
   <header class="border-shadow">
    <div class="container ">
      <nav>
        <a href="/contacts"><i class="fa-solid fa-address-book"></i> My Contacts</a>
      </nav>
    </div>
  </header>
  <!-- /Header -->
   