.IntroBodyView{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: white;
 /* 수평 수직 중앙 정렬하기 */
    align-items: center;
    justify-content: center;
}

.introLogin{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.introTitle{
    margin: 10px 0 0 0;
    font-family: var(--global-titlefont);
    text-align: center;
}

.introSummary{
    text-align: center;
}

.loginButton{
    font-family: var(--global-titlefont);
    --bs-btn-bg: var(--global-color);
    --bs-btn-border-color: ;
    --bs-btn-hover-bg: var(--global-darkcolor);
    --bs-btn-hover-border-color: ;
    --bs-btn-active-bg: var(--global-darkcolor);
    --bs-btn-active-border-color: var(--global-darkcolor);
}


@media (max-width: 800px) {
    .IntroBodyView {
        max-width: 100%; /* 부모 너비에 맞게 확장 */
        width: 100%; /* 가로 크기를 100%로 설정 */
        margin: 0; /* 여백 제거 */
    }
}