<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 화면</title>
</head>
<body>
    <h1>로그인 성공</h1>
    <p><%=name%>님 안녕하세요</p>
    <h3>가입 중 밴드 목록</h3>
    <ul>
        <% bandList.forEach(band => { %>
            <li><%= band.name %></li> <!-- 각 밴드의 이름을 출력 -->
        <% }) %>
    </ul>
    
</body>
</html>
